[submodule "src/Modules/YtDlpSharpLib"]
	path = src/Modules/YtDlpSharpLib
	url = https://github.com/micah686/YtDlpSharpLib.git
[submodule "src/Modules/Conduit.NATS"]
	path = src/Modules/Conduit.NATS
	url = https://github.com/micah686/Conduit.NATS.git
