# Bind mount source for authentik:/blueprints/froststream.yaml
AUTHENTIK_BINDMOUNT_0=

# Parameter authentik-bootstrap-password
AUTHENTIK_BOOTSTRAP_PASSWORD=

# Parameter authentik-bootstrap-token
AUTHENTIK_BOOTSTRAP_TOKEN=

# Parameter authentik-client-secret
AUTHENTIK_CLIENT_SECRET=

# Parameter authentik-secret-key
AUTHENTIK_SECRET_KEY=

# Bind mount source for authentik-worker:/blueprints/froststream.yaml
AUTHENTIK_WORKER_BINDMOUNT_0=

# Container image name for databridge
DATABRIDGE_IMAGE=

# Bind mount source for nats:/etc/nats/nats.conf
NATS_BINDMOUNT_0=

# Bind mount source for nats:/etc/nats/certs/ws-cert.pem
NATS_BINDMOUNT_1=

# Bind mount source for nats:/etc/nats/certs/ws-key.pem
NATS_BINDMOUNT_2=

# Parameter nats-password
NATS_PASSWORD=

# Bind mount source for postgres:/etc/postgresql/postgresql.conf
POSTGRES_BINDMOUNT_0=

# Bind mount source for postgres:/wal-archive
POSTGRES_BINDMOUNT_1=

# Parameter postgres-password
POSTGRES_PASSWORD=
POSTGRES_PASSWORD_URLENCODED=

# Parameter postgres-user
POSTGRES_USER=

# Container image name for scheduler
SCHEDULER_IMAGE=

# Default container port for scheduler
SCHEDULER_PORT=8080

# Container image name for webapi
WEBAPI_IMAGE=

# Default container port for webapi
WEBAPI_PORT=

# Container image name for worker
WORKER_IMAGE=

FRONTEND_IMAGE=
FRONTEND_PORT=

FROSTSTREAM_STORAGE_ROOT=
